@tailwind base;
@tailwind components;
@tailwind utilities;

/* make header main and footer take up exactly 100vh */
*{
  box-sizing: border-box;
}

.slide-in-bottom{animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-bottom{0%{transform:translateY(1000px);opacity:0}100%{transform:translateY(0);opacity:1}}